table {
  margin-left: auto;
  margin-right: auto;
}

table thead tr th {
  width: 150px;
  border-bottom: 1px black solid;
  text-align: left;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

table tbody tr th {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
}